
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/bb6719d363.js" crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
<footer class="footer-04">
    <div class="footer-container">
        <div class="row">
            <div class="col-lg-3">
                <h2 class="footer-heading"><a href="#" class="logo">Recovering Food Narratives</a></h2>
            </div>
            <div class="col-lg-6 text-center center">
                <img src="/images/footer/iitdl.png" class="iitdl footer-image">
                <img src="/images/footer/wai.png" class="wai footer-image">
                <img src="/images/footer/iitbl.png" class="iitbl footer-image">
                <div class="row">
                    <div class="col-lg-12 text-center center">
                    <h6>Researched and curated by: <br>IIT Delhi, Sangtin, IIIT Bangalore</h6>
                    </div>
                </div>
            </div> 
            <div class="col-lg-3 text-center center">
                <div class="image-dbl">
                <img src="/images/footer/dbl.png" class="dbl footer-image">
            </div>
                <div class="row">
                    <div class="col-lg-12 text-center center">
                    <h6 class="dbl-text">Designed and developed by: <br>Design Beku</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


</body>

</html>