<%-include('includes/head')%>
<%-include('includes/navbar')%>
<br>
<hr class="horizontal-break">
<div class="container home-container">
  <div id="contentEnglish" class="contentEnglishToggle">
    <div class="row">
      <div class="links container">
        <div class="col-lg-12 text-left center">
          <div class="landing-title">
            <h1 class="title">The culture of food</h1>
          </div>
        </div>
        <div class="col-lg-10 avadh">
          <div class="row">
            <div class="col-lg-6 img-container">
              <a href="https://avadh.foodcultures.org">
              <img src="/images/home/Map1_English.jpg" alt="Image Here" style="border: 1px solid black; min-width: 300px; min-height: 300px;">
                </a>
            </div>
            <div class="col-lg-6">
              <div class="title-card">
                <h4>Recovering food narratives</h4>
              </div>
              <div class="para-card">
                <p>The ‘Recovering Food Narratives’ portal has documented food stories from western Avadh, located in the upper Gangetic plain of northern India. These stories emerged from a multidisciplinary study that traced farming and food transitions in this region over the past 60-70 years.</p>
              </div>
              <div class="button">
                <a href="https://avadh.foodcultures.org" type="button">Click to learn more...</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-left center">
        <div class="description-landing">
          <p>Food is not just a means of satisfying our hunger or an ‘optimal’ mix of macronutrients and micronutrients to provide adequate nutrition. Rather, food is memory. It is a repository of history, geography and culture. It is strongly linked to gender, caste and class - what you eat is dictated as much by your income or where you live as by your position in the societal hierarchy. Food has the ability to bring people together, and also to create deep and long-lasting divides.</p>
          <p>Worldwide, we are witnessing a massive transformation in food, with diets shrinking from diverse baskets of seasonal produce to highly processed foods made from wheat, corn, rice and a handful of other foods. This has had a profound impact on our health and well being.  
            In India, a land of diverse cultures and cuisines, about half of Indian women and a quarter of Indian men are now anaemic. About one-third of children below five are stunted, indicating long-term nutritional deficiencies. Consumption surveys have noted a steep decline in the intake of protein-rich foods like dairy, meat, fish and pulses and traditional indigenous foods like collected greens, tubers and small game.</p>
          <p>Many historical foods have been forgotten or are no longer grown. Along with this the knowledge of processing, preparing, cooking and consuming them has also been lost. This portal aims to document this knowledge for different agro-climatic zones, along with deeper analyses of food and farming transitions to help us understand how we got here. We hope the rich historical experiences and memories of food and farming documented here will help each one of us rethink what we eat, what it means for the people who grow it, and how we can live sustainably on our planet.</p>
        </div>

      </div>
    </div>
  </div>
  <div id="contentHindi" class="contentHindiToggle">
    <div class="row">
      <div class="links container">
        <div class="col-lg-12 text-left center">
          <div class="landing-title">
            <h1 class="title">खान-पान की आस्था</h1>
          </div>
        </div>
        <div class="col-lg-10 avadh">
          <div class="row">
            <div class="col-lg-6 img-container">
              <a href="https://avadh.foodcultures.org"> <img src="/images/home/Map1_Hindi.jpg" alt="Image Here" style="border: 1px solid black; min-width: 300px; min-height: 300px;">
            </a></div>
            <div class="col-lg-6">
              <div class="title-card">
                <h4>जमीन और खान-पान की कहानियाँ </h4>
              </div>
              <div class="para-card">
                <p>‘जमीन और खान-पान की कहानियाँ’ पोर्टल पर पश्चिमी अवध क्षेत्र में खान-पान से जुड़ी कहानियों का दस्तावेजीकरण हुआ है। यह कहानियाँ एक शोध से निकले है, जिसमें खेती और खाना में ऐतिहासिक बदलाव और उनका पोषण पर असर को समझने की कोशिश की गई।
                </p>
              </div>
              <div class="button">
                <a href="https://avadh.foodcultures.org" type="button">Click to learn more...</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-left center">
        <div class="description-landing">
          <p>खाना सिर्फ पेट भरने या पोषण पाने का माध्यम नही है। खान-पान में यादें है। खानें में क्षेत्र की पहचान, इतिहास और संस्कृति बँसा है। खान-पान लिंग, जाति और वर्ग से जुड़ा है। आप कहा रहते है, आपकी आमदनी कैसी है और आपका सामाजिक स्थान क्या है - इन सब से आपके खान-पान पर असर पड़ता है। खाना लोगों को साथ ला सकता है और लोगोे के बीच गहरा अंतर भी ला सकता है।</p>
          <p>दुनिया भर में हम खान-पान में ढेर सारे बदलाव देख रहे है - खाना विवध था और मौसम से जुड़ा था। लेकिन वर्तमान में गेहूं, मक्का और धान ही ज्यादा खायें जा रहे है। पैकेट का खाना ज्यादा इस्तेमाल हो रहा है, जिनमें कई पोषक तत्व और रेशा निकाला गया है। यह बदलाव हमारे सेहत पर असर कर रहे है। भारत में कई तरह के संस्कृति और भोजन है। लेकिन आज देश भर में खून की कमी बढ़ रही है - आधी महिलाएँ और एक चोथाई पुरुष इससे पीढित है। कई जगह कुपोषण बढ़ रहा है। अलग-अलग सर्वे से पता चल रहा है की ग्रामीण क्षेत्र के गरीब परिवार, आदिवासी और दलित परिवारों में दुग्ध पदार्थ, मीट-मछली, दाल और बटोरे हुए खानों को सेवन घट गया है। कई पुराने खाने ग़ायब हो गये है, और लोग उनके पकाने की विधि भी भूल चुके है।</p>
          <p>इस पोर्टल के माध्यम से यह भूले-बिसरे खाने और इन से जुड़े खेती पद्धति, सामाजिक रिश्ते इत्यादि का हम दस्तावेजीकरण कर रहे है। अलग-अलग क्षेत्र के भाजन और उससे जुड़े यादे और अनुभव का हम आनन्द लेते हुए, आज की समस्याओं का हल भी ढूँढ सकते है।</p>
        </div>
      </div>
    </div>
  </div>
</div>
<%-include('includes/foot')%>